{% extends "base.html" %}
{% block main %}
    <div class="inner title big day1">
        <nav class="top-right-menu">
            <a href="{% url 'schedule' %}" role="button">Schedule</a>
        </nav>
        </div>
    </div>
    <div class="inner article">
        <article>
            <h3>The Race is On!</h3>
            <p>
                In Offworld Trading Company, it's often advantageous to get into the profitable market first.
                As the first company to cash in the lucrative market, you have the money that others don't.
                You can upgrade faster and use the claims to get into the next profitable market,
                buy black market items to slow down others even more, give yourself additional claims,
                or buy goon squads to protect yourself from getting locked out of the market you really need to secure.
            </p>
            <h3>Companies Beware!</h3>
            <p>
                However, be careful. As the first person to be in advantageous positions, you might face other jealous companies trying to slow you down.
                In 4-player-FFA games, there are three other players you're competing with, and standing out in those situations can work as a massive disadvantage.
                You might even be targeted unfairly by multiple players. 
            </p>
            <h3>Our Thoughts</h3>
            <p3>Write reason why we decided this rule</p3>
        </article>
    </div>
{% endblock %}