{% extends "base.html" %}
{% block main %}
    <div class="inner title big day1">
        <nav class="top-right-menu">
            <a href="{% url 'schedule' %}" role="button">Schedule</a>
        </nav>
        </div>
    </div>
    <div class="inner article">
        <article>
            <h3>The Race is On!</h3>
            <p>
                In Offworld Trading Company, it's often advantageous to get into the profitable market first.
                As the first company to cash in the lucrative market, you have the money that others don't.
                You can upgrade faster and use the claims to get into the next profitable market,
                buy black market items to slow down others even more, give yourself additional claims,
                or buy goon squads to protect yourself from getting locked out of the market you really need to secure.
            </p>
            <h3>Companies Beware!</h3>
            <p>
                However, be careful. As the first person to be in advantageous positions, you might face other jealous companies trying to slow you down.
                In 4-player-FFA games, there are three other players you're competing with, and standing out in those situations can work as a massive disadvantage.
                You might even be targeted unfairly by multiple players. 
            </p>
            <h3>Our Thoughts</h3>
            <p3>
                Chasing the good markets is one of the most important game mechanies of Offworld Trading Company.
                When the game starts, items may start at half, double, or normal price.
                For example, if food started double, it's a good idea to secure water at HQ level 2 and start making food.
                You can sell it and buy other necessary resources with the money.
                Founding spot is very important for this matter. If you founded close to water, producing food is not going to be difficult.
                However, if you prioritized water too much and founded far away from upgrade resources, you might be late to upgrade and other players might have drained the money already.
                If you founded too far away from water, you might have trouble supplying the production when the water price starts to rise.
                We wanted to encourage players to learn how to make way into those early markets.
                Identify which locations will give you the best advantage, see what other companies are doing, and decide your actions accordingly.
                Good luck!
            </p3>
        </article>
    </div>
{% endblock %}