{% extends "base.html" %}
{% block main %}
    <div class="inner title big day2">
        <nav class="top-left-menu">
            <a href="{% url 'schedule' %}" role="button">Schedule</a>
        </nav>
        </div>
    </div>
    <div class="inner article">
        <article>
            <h3>Managing Risks</h3>
            <p>
                In competitive games, building placement can be one element that changes the result of the game.
                It hurts to get EMPed in the best production of your company, but it hurts even more if that EMP killed all of your production!
                That's where building layout comes into play. Your goon squad is one way to deal with it, but it doesn't always save you from those pesky saboteurs.
                But, if you built your production in a well-separated manner, you can reduce the havoc a single black attack may do to your base.
                
            </p>
            <h3>On Single Buildings</h3>
            <p>
                Of course, still, don't make single production buildings, or so called 'blackmagic' buildings.
                Protection from black market is nice and all, but don't forget that making money, and doing so efficiently is the name of the game.
            </p>
            <h3>Our Thoughts</h3>
            <p3>
                With this award, we wanteed to encourage players to plan out building placements when they lay out new claims.
                Having nicely laid out triples spread out around the base would be ideal, but that's not always an option.
                Maybe you founded on a cramped place, or maybe you founded a robotic HQ, the smallest HQ of all.
                So, we added an extra condition that goon squads count as disconnected tiles.
                When placed in a bottleneck, it can stop power surge or other similar chaining sabotages from spreading out to other buildings and protect your base.
            </p3>
        </article>
    </div>
{% endblock %}