{% extends "base.html" %}
{% block main %}
    <div class="inner title big day3">
        <nav class="top-right-menu">
            <a href="{% url 'schedule' %}" role="button">Schedule</a>
        </nav>
        </div>
    </div>
    {% include 'schedule/lineup.html' with day=3 %}
    <div class="inner article">
        <article>
            <h3>A Stormy Weather</h3>
            <p>
                Magnetic Storm crashes all the building drones and freighters inside a very wide area of effect.
                As it's used on moving objects flying across the map real-time, it requires a lot of attention to use effectively.
                However, it has some niche usages.
                Let's say you saw three fully-loaded trucks <a href="https://clips.twitch.tv/HedonisticNurturingBottleCorgiDerp">carrying 150+ glass</a> flying across the Martian sky. No goon squads will save it from being crashed by a storm.
                If you saw your opponent building the key building you would not like to see, you can crash the building drone from reaching the site in the first place.
                Blow up their Offworld Market, wait for their repair drone to almost reach the site, and blow up the repair drone again.
                It can stop the building from functioning just like a power surge. Annoyed by <a href="https://www.youtube.com/watch?v=jw-5sAbx1PA">Elite Pleasure Domes</a>? Oh, they need to get the chemicals from somewhere...
            </p>
            <h3>Opportunity Cost</h3>
            <p>
                Magnetic Storms are fun to play with, but remember that you might want to use other items, too.
                I recommend you to have one in stock when you can't afford to buy other items,
                but it might be a better idea to buy a claim, get a goon squad, or power surge the competitor.
                Magnetic Storm is an opportunistic sabotage, not a solution for every situation.
            </p>
            <h3>Our Thoughts</h3>
            <p3>
                Some black market items are not as broadly useful as others, and therefore often forgotten. Magnetic Storm is one of them.
                We wanted to encourage players to explore usage of one exciting black market item: Magnetic Storm.
                As there is no other good in-game metric provided regarding it, we had to choose 'the number of magnetic storms used', which doesn't necessarily reflect the effectiveness of the play.
                We're afraid that this might encourage players to simply use it up for the sake of using it, not to find good plays out of it.
                Nevertheless, we decided to keep this award in hope of shedding some light on easy-to-forget or underutilized black market items like Magnetic Storms, MULEs, and Core Samples.
                Always take a look at what's in stock at the black market and use them accordingly!
            </p3>
        </article>
    </div>
{% endblock %}