{% extends "base.html" %}
{% block main %}
    <div class="inner title big day3">
        <nav class="top-right-menu">
            <a href="{% url 'schedule' %}" role="button">Schedule</a>
        </nav>
        </div>
    </div>
    <div class="inner article">
        <article>
            <h3>A Stormy Weather</h3>
            <p>
                Magnetic Storm crashes all the building drones and freighters on air inside a very wide area of effect.
                As it's used on moving objects flying across the map real-time, it requires a lot of attention to use effectively.
                However, it has some niche usages.
                If you saw three fully-loaded food trucks flying across the Martian sky, then it's 120 food. No goon squads will save it from being crashed by a storm.
                If you saw your opponent building the key building you would not like to see, you can crash the building drone from reaching the site in the first place.
                Blow up their Offworld Market, wait for their repair drone to almost reach the launcher, and blow up the repair drone again.
                It can stop the building from functioning just like a power surge. Annoyed by Elite Pleasure Domes? Oh, they need to get the chemical from somewhere...
            </p>
            <h3>Opportunity Cost</h3>
            <p>
                Magnetic Storm plays are fun to play with, but remember that you might want to use other items, too.
                I recommend you to have one in stock when you can't afford to buy other items,
                but it might be a better idea to buy a claim, get a goon squad, or power surge the competitor.
                Magnetic Storm is an opportunistic sabotage, not a solution for every situation.
            </p>
            <h3>Our Thoughts</h3>
            <p3>
                Some black market items are not as broadly useful as others, and therefore often forgotten. Magnetic Storm is one of them.
                We wanted to encourage players to explore usage of one exciting black market item: Magnetic Storm.
                While our tournament did not cover other useful tools, like MULEs or Cook the Books, always take a look in what's in stock at the black market and use them accordingly.
                We worry that this addition of award might make players focus too much on using it than trying to find a good use for it,
                but we hope that this award will also shed some light in those underutilized black market items.
            </p3>
        </article>
    </div>
{% endblock %}