{% extends "base.html" %}
{% block main %}
    <div class="inner title big day4">
        <nav class="top-right-menu">
            <a href="{% url 'schedule' %}" role="button">Schedule</a>
        </nav>
        </div>
    </div>
    <div class="inner article">
        <article>
            <h3>Gooned or not gooned. That is the question</h3>
            <p>
                When you initiate an attack on someone else, there is often a risk of hitting a goon squad and therefore a punitive counterstrike.
                Sometimes you can try to go around it by attacking on less important tiles and hope it reaches the original goal, or use broad AOE attacks like EMP and uncover the location of goon squads.
                However, when it comes to mutiny, it gets a bit more tricky -- you cannot use spy on your own tile.
                You don't want to let your opponent to take a key patent, but you also don't want to hand over another mutiny.
            </p>
            <h3>Spies and Goon Poppers</h3>
            <p>
                There are several ways to spy on your opponent's goon activities.
                The classic way is to keep track of goon squads prices. If the price rose without you buying it, it means someone else has it.
                The surest way is to use a spy. Spies will give you all the information you need about that part of the map.
                However, as you are not allowed to spy on your own buildings, the only way to directly search for goon squads on mutiny is to somehow hit it.
                That's where brute forcing comes in. Use less impactful sabotages on gooned tiles, like network viruses, circuit overloads, or even dynamites on the tile of interest.
                The goon will be popped, hence the name 'goon popper', and it will hopefully stay clean after 30 seconds of protection.
                When you have cooldown, buy something on the black marekt. Even though it might not be useful at the moment, You might use it as a goon popper in the future.
            </p>
            <h3>Our Thoughts</h3>
            <p3>
                For us, black market and mind gaming is one of the most exciting part of Offworld Trading Company. It adds more depth and excitement to the game.
                It is, however, one of the most difficult part of the game for new players.
                There are so many things to keep track of, and it's not easy to play another layer of game on top of already-complex game.
                That's why we saved this award for the last day. Mutiny goon plays are not seen so often, so we don't excpet to see it here as well.
                The award may encourage players to use mutiny goon, but it might also make the opponent be too careful and not try to get it back, rendering the goon useless.
                So we added another award for most black market used to encourage players to use it more often and get used to it.
            </p3>
        </article>
    </div>
{% endblock %}