{% extends "base.html" %}
{% block main %}
    <div class="inner title big day4">
        <nav class="top-right-menu">
            <a href="{% url 'schedule' %}" role="button">Schedule</a>
        </nav>
        </div>
    </div>
    {% include 'schedule/lineup.html' with day=4 %}
    <div class="inner article">
        <article>
            <h3>Gooned or not gooned. That is the question</h3>
            <p>
                When you initiate an attack on someone else, there is often a risk of hitting a goon squad and therefore a punitive counterstrike.
                Sometimes you can try to go around it by attacking less important tiles and hope it reaches the original goal, or use broad AOE attacks like EMP and uncover the location of goon squads.
                However, when it comes to mutiny, it gets a bit more tricky -- you cannot use a spy on your own tile.
                You don't want to let your opponent take a key patent, but you also don't want to hand over another mutiny.
            </p>
            <h3>Goons and Goon Poppers</h3>
            <p>
                There are several ways to spy on your opponent's goon activities.
                The classic way is to keep track of goon squad prices. If the price rose without you buying it, it means someone else has it.
                The easiest way is to use a spy. Spies will give you all the information you need about that part of the map.
                But there is another way: brute forcing. You can directly search and destroy goon squads by hitting it with a black market item.
                Use less impactful sabotages on suspected gooned tiles, like network viruses, circuit overloads, or even dynamites.
                The goon will be popped, hence the name 'goon popper', and it will hopefully stay clean after 30 seconds of protection.
                When you have cooldown, buy something on the black market. Even though it might not be useful at the moment, you might use it as a goon popper in the future.
            </p>
            <h3>Our Thoughts</h3>
            <p3>
                For us, black market and mind gaming is one of the most exciting parts of Offworld Trading Company. It adds more depth and excitement to the game.
                It is, however, one of the most difficult parts of the game for new players.
                There are so many things to keep track of, and it's not easy to play another layer of game on top of an already-complex game.
                That's why we saved this award for the last day. Mutiny goon plays are not seen so often, so we wanted to encourage players to experiment with it.
                The award may increase mutiny goon plays, but it might also make the opponent be too careful and not try to get it back, rendering the goon useless.
                So we added another award for most black market used to encourage players to use it more.
            </p3>
        </article>
    </div>
{% endblock %}