{% extends "base.html" %}
{% block main %}
    <div class="inner title small robot">
        <div class="notice">
                <h1><span class="highlight">Drafting</span></h1>
        </div>
        <nav class="top-right-menu">
            <a href="{% url 'schedule' %}" role="button">Schedule</a>
        </nav>
        </div>
    </div>
    <div class="inner article">
        <article>
            <h3>What is drafting?</h3>
            This tournament is a team tournament, and drafting is the process of forming the teams.
            In a draft, each captain will take turns choosing one player that they want in their team until every player has a team.
            This process will be streamed live. As a captain, there are two ways you can participate in the drafting process.
            You can join us on the livestream via text/voice chat and do the draft live.
            This gives you the advantage of being able to react to the other captains' choices.
            The other option is to make a list of your priority of all the players. We will draft for you according to the list.
            We suggest using the information available in this <a href="https://docs.google.com/spreadsheets/d/1OeNn012pWXMDYSfHO91g8whs3aFgAqv3zKo8LSs9TSg">spreadsheet</a> to help with your draft.

            <h3>How are captains chosen?</h3>
            Only players who volunteered to be captains can become one.
            If there are more than four players who want to be captains, then they will go through a voting process where we open up a strawpoll and let the community decide.
            However, if there are not enough signups, we will do a random pick among the volunteers who did not give a firm intention of being captains.

            <hr>
            <h3>Drafting result</h3>
            Check out drafting <a href="https://docs.google.com/spreadsheets/d/1OeNn012pWXMDYSfHO91g8whs3aFgAqv3zKo8LSs9TSg/edit#gid=0">spreadsheet</a> or drafting <a href="https://www.twitch.tv/videos/366549588">stream</a> for details.<br />
            You can also see players for each team at <a href="{% url 'players' %}">players</a> page.
        </article>
    </div>
{% endblock %}
