
<div class="inner article">
    <article>
        <h3>Example Data</h3>
        This page is under construction, so information displayed here may not be accurate.<br />
        <hr>
        <h2>Match Lineups</h2>
        <div class="lineup">
            {% for x in FFA %}
            <div class="match" id="{{ x.id }}">
                <div class="match-title">
                    <span class="match-num">Round {{ forloop.counter }}:</span><br />
                    <span class="location">{{ x.get_location_display }}</span>
                </div>
                <hr>
                <ul>
                    {% if x.player1 == x.winner %}
                    <li class="winner team1">{{ x.player1.name }}</li>
                    {% else %}
                    <li class="team1">{{ x.player1.name }}</li>
                    {% endif %}

                    {% if x.player2 == x.winner %}
                    <li class="winner team2">{{ x.player2.name }}</li>
                    {% else %}
                    <li class="team2">{{ x.player2.name }}</li>
                    {% endif %}

                    {% if x.player3 == x.winner %}
                    <li class="winner team3">{{ x.player3.name }}</li>
                    {% else %}
                    <li class="team3">{{ x.player3.name }}</li>
                    {% endif %}

                    {% if x.player4 == x.winner %}
                    <li class="winner team4">{{ x.player4.name }}</li>
                    {% else %}
                    <li class="team4">{{ x.player4.name }}</li>
                    {% endif %}
                </ul>
            </div>
            {% endfor %}
        </div>
        <!-- I will need some kind of javascript to make tab display work -->
        <div class="lineup">
            {% for x in FFA %}
            <div class="match-arrow" id="{{ x.id }}"></div>
            {% endfor %}
        </div>
        <div class="match-details">
            <!--
                Each round should have these information:
                    round location 
                    players > score awards winner-highlight
            -->
            <div class="match-title">
                <span class="match-num">Round X</span><br />
                <span class="location">CERES</span>
            </div>
            <div class="match-content">
                <!-- for loop starts here -->
                <div>
                    <div class="match-player">
                        <!-- I want to show team color too -->
                        <span class="name team1">Player's Name</span>
                        <span class="discord-name">(Quite Long Discord Name)</span>
                        <span class="score right">SCORE_THIS_MATCH</span>
                    </div>
                    <div class="match-stats">
                        <div class="match-stats-text">
                            <div>Bracket:</div>
                            <div>Star:</div>
                        </div>
                        <div class="match-stats-num">
                            <!-- player's stat at the time and their stat changes -->
                            <!-- ^ requires change in model. Maybe just use current stats? -->
                            <div>BRACKET_NUM (DIFF)</div>
                            <!-- fancy star using *** will require another hack -->
                            <div>STAR_NUM (DIFF)</div>
                        </div>
                        <div class="match-stats-awards right">
                            <!-- conditional for victory -->
                            <div>Victorious: 1.0</div>
                            <!-- for loop for awards -->
                            <div>Quite Long Award Name Has Arrived: 0.2</div>
                        </div>
                    </div>
                </div>
                <!-- for loop ends -->
            </div>
        </div>
        <p>
            First round starts at <b>19 GMT</b>.<br />
            Each match is expected to last 20-30 minutes and following matches will start as soon as possible!
        </p>
    </article>
</div>
