
<div class="inner article">
    <article>
        <h3>Under Construction!</h3>
        This page is under construction, please visit us later.<br />
        <hr>
        <h2>Match Lineups</h2>
        <div class="lineup">
            {% for x in FFA %}
            
            <div class="match">
                <div class="match-title">
                    <span class="match-num">Round {{ forloop.counter }}: </span>
                    <span class="location">{{ x.get_location_display }}</span>
                </div>
                <hr>
                <ul>
                    {% if x.player1 == x.winner %}
                    <li class="winner team1">{{ x.player1.name }}</li>
                    {% else %}
                    <li class="team1">{{ x.player1.name }}</li>
                    {% endif %}

                    {% if x.player2 == x.winner %}
                    <li class="winner team2">{{ x.player2.name }}</li>
                    {% else %}
                    <li class="team2">{{ x.player2.name }}</li>
                    {% endif %}

                    {% if x.player3 == x.winner %}
                    <li class="winner team3">{{ x.player3.name }}</li>
                    {% else %}
                    <li class="team3">{{ x.player3.name }}</li>
                    {% endif %}

                    {% if x.player4 == x.winner %}
                    <li class="winner team4">{{ x.player4.name }}</li>
                    {% else %}
                    <li class="team4">{{ x.player4.name }}</li>
                    {% endif %}
                </ul>
            </div>
            {% endfor %}
        </div>
        <p>
            First round starts at <b>19 GMT</b>.<br />
            Each match is expected to last 20-30 minutes and following matches will start as soon as possible!
        </p>
    </article>
</div>
