<script type="text/javascript">
    $(document).ready(function(){
        $(".match").click(function(event) {
            let url = "{% url 'inspectmatch' %}"+event.target.id;
            
            $.get(url, function(data){
                $("#match-details").html(data);
                let ele =  document.getElementById(event.target.id);
                //console.log(ele);
                document.getElementById("match-details").style.display = "flex";
                document.getElementById("match-arrow").style.display = "block";
                $("#match-arrow").offset({"left":ele.offsetLeft + ele.offsetWidth/2});
            });
        });
    });
</script>
<div class="inner article">
    <article>
        <h2>Match Lineups</h2>
        <div class="lineup">
            {% for match in matches %}
            <div class="match" id="{{ match.id }}/{{ forloop.counter }}">
                <div class="match-title">
                    <span class="match-num">Round {{ forloop.counter }}:</span><br />
                    <span class="location">{{ match.get_location_display }}</span>
                </div>
                <hr>
                <ul>
                    {% for player in match.orderedplayers %}
                    <li class="{% if player == match.result.winner %}winner{% endif %} team{{player.team.id}}">{{ player.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
        <div class="match-arrow" id="match-arrow"></div>
        <div class="match-details" id="match-details"></div>
        <p>
            First round starts at <b>19 GMT</b>.<br />
            Each match is expected to last 20-30 minutes and following matches will start as soon as possible!
        </p>
    </article>
</div>
