{% extends "base.html" %}
{% block main %}
    <div class="inner title small mars2">
        <div class="notice">
            <h1><span class="highlight">Schedule</span></h1>
        </div>
        <nav class="linear-menu">
            <a href="{% url 'rules' %}" role="button">Rules</a>
            <a href="{% url 'schedule' %}" role="button" class="self">Schedule</a>
            <a href="{% url 'players' %}" role="button">Players</a>
        </nav>
    </div>
    <div class="inner article">
        <article>
            <h3>Tournament Schedule</h3>
            Click each event to learn more about it. You will be able to see match lineups or relevant information.
            <hr>
            <ul class="schedule alternate">
                <li>
                    <a href="{% url 'drafting' %}">
                        
                        <span class="day-date">Jan 19</span>
                        <span class="name">Drafting</span>
                        <span class="day-time">GMT 20 / CET 21 / EST 15</span>
                        
                        <span class="matches">
                            
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'workshop' %}">
                        
                        <span class="day-date">Jan 23-24</span>
                        <span class="name">Workshop</span>
                        <span class="day-time">GMT 20 / CET 21 / EST 15</span>
                        
                        <span class="matches">
                            
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'day' 1 %}">
                        
                        <span class="day-date">Jan 26</span>
                        <span class="name">Day 1</span>
                        <span class="day-time">GMT 19 / CET 20 / EST 14</span>
                        
                        <span class="matches">
                            
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'day' 2 %}">
                        
                        <span class="day-date">Jan 27</span>
                        <span class="name">Day 2</span>
                        <span class="day-time">GMT 19 / CET 20 / EST 14</span>
                        
                        <span class="matches">
                            
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'workshop' %}">
                        
                        <span class="day-date">Jan 30-31</span>
                        <span class="name">Workshop</span>
                        <span class="day-time">GMT 20 / CET 21 / EST 15</span>
                        
                        <span class="matches">
                            
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'day' 3 %}">
                        
                        <span class="day-date">Feb 2</span>
                        <span class="name">Day 3</span>
                        <span class="day-time">GMT 19 / CET 20 / EST 14</span>
                        
                        <span class="matches">
                            
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'day' 4 %}">
                        
                        <span class="day-date">Feb 3</span>
                        <span class="name">Day 4</span>
                        <span class="day-time">GMT 19 / CET 20 / EST 14</span>
                        
                        <span class="matches">
                            
                        </span>
                    </a>
                </li>
            </ol>
        </article>
    </div>
{% endblock %}