{% extends "base.html" %}
{% block main %}
    <div class="inner title small platform">
        <div class="notice">
            <h1><span class="highlight">Workshop</span></h1>
        </div>
        <nav class="top-right-menu">
            <a href="{% url 'schedule' %}" role="button">Schedule</a>
        </nav>
        </div>
    </div>
    <div class="inner article">
        <article>
            <h3>Welcome to the Workshop!</h3>
            In the previous team tournament, Asteroid Belt Tournament 2, some teams had difficulty getting members together for practice games.
            We hope that this workshop event will provide the room for players who want to practice and get feedback on their games.
            Workshop sessions are open for anyone, whether they joined the tournament or not. You can play, get feedback, and observe games.
            Also, all workshop sessions will be streamed on <a href="https://twitch.tv/rhahi">Twitch</a>, so you can participate via chat as well.
            
            <h3>How to Join?</h3>
            On Jan 23, Jan 24, Jan 30, and Jan 31, we are going to host lobby games on workshop days from GMT 20 (CET 21, EST 15). It will last about 2 hours.
            Launch your Offworld game, and find lobbies named <b>Martian Enterprise Workshop</b>.
            Organizers, Trattpingvin and Rhahi will mainly the main host of the workshop sessions,
            but other experienced players may join as coaches, too.
            <hr>
            <h3>Match History</h3>
            <br />
            <ul class="list-workshop alternate">
                <li class="headline-workshop">Jan 23 - <a href="https://www.twitch.tv/videos/368631739">TwitchVoD</a></li>
                <li><a href="https://youtu.be/rLQNM6kxpmc">Game 1</a> - Mars</li>
                <li><a href="https://youtu.be/BHUbKvjCx1Y">Game 2</a> - Mars</li>
                <li><a href="https://youtu.be/usI_a_cM3cI">Game 3</a> - Ceres</li>
                <li><a href="https://youtu.be/XGw6MSgestU">Game 4</a> - Io</li>
            </ul>

            <ul class="list-workshop alternate">
                <li class="headline-workshop">Jan 24 - <a href="https://www.twitch.tv/videos/369129379">TwitchVoD</a></li>
                <li><a href="https://youtu.be/Q8j0O1oVryQ">Game 1</a> - Mars</li>
                <li><a href="https://youtu.be/CkWjdbp24y4">Game 2</a> - Mars</li>
                <li><a href="https://youtu.be/avlLyEb9shI">Game 3</a> - Mars</li>
                <li><a href="https://youtu.be/5sbJuTqCApc">Game 4</a> - Ceres</li>
                <li><a href="https://youtu.be/rkxkXycU_LY">Game 5</a> - Io</li>
                <li><a href="https://youtu.be/9PsByvca5QY">Tratt Game 1</a> - Mars</li>
                <li><a href="https://youtu.be/hdY6Af8LhDk">Tratt Game 2</a> - Ceres</li>
            </ul>

            <ul class="list-workshop alternate">
                <li class="headline-workshop">Jan 30 - <a href="https://www.twitch.tv/videos/372476840">TwitchVoD</a></li>
                <li><a href="https://youtu.be/1vYw0iGQuC4">Game 1</a> - Mars</li>
                <li><a href="https://youtu.be/bLOhk1gwWp8">Game 2-1</a> - Mars (Rhahi)</li>
                <li><a href="https://www.youtube.com/watch?v=i0MIi4g-_dk">Game 2-2</a> - Mars (Tratt)</li>
                <li><a href="https://youtu.be/fWITix45nQE">Game 3-1</a> - Io (Rhahi)</li>
                <li><a href="https://www.youtube.com/watch?v=lzFKi26gA7U">Game 3-2</a> - Ceres (Tratt)</li>
                <li><a href="https://youtu.be/GSRgS7Vk_D8">Game 4</a> - Ceres</li>
            </ul>
        </article>
    </div>
{% endblock %}