article {
    padding: 10px;
    color:black;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    overflow: auto;
}

article a {
    color: rgb(200, 200, 200);
    text-shadow: 0px 0px 2px black;
}

article a:hover {
    color:white;
}

article h2 {
    color: #790805;
}
main div.article {
    margin-top: 30px;
    background-color: #C07A54;
}

/* schedule list style */

ul.schedule {
    list-style:none;
    padding-left:0;
}

ul.schedule li {
    height: 50px;
    line-height: 50px;
    display:flex;
    font-family: Staatliches;
}

ul.schedule li span {margin: 0px 0 0px 5px;}

ul.schedule li span.name {
    font-family: Staatliches;
    font-size: 40px;
    width: 200px;
    padding-left: 5px;
    line-height: 50px;
    color: #790805;
}

ul.schedule li span.day-date {
    font-size: 30px;
    float:left;
    width: 200px;
}

ul.schedule li span.day-time {
    font-size: 20px;
    float:right;
    padding-right: 5px;
}

ul.schedule li span.matches{
    width: 600px;
}

ul.schedule li a {
    display:block;
    width:100%;
    color: inherit;
    text-shadow: inherit;
}

/* player tab */
div#player-all {
    float: left;
    width: 46%;
    margin-bottom: 100px;
}
div#player-all li.teamname {
    background-color: #362923;
}
div#player-all > ul {padding-left: 0;}
div#player-all > ul > li.example {background-color: rgba(255, 255, 255, 0.5);}
li.player {
    font-size: 18px;
    display:flex;
    flex-direction: row;
    padding: 3px;
}

li.player div, li.player span {pointer-events: none;}

li.player > div.name-wrapper {
    width: 230px;
    margin-right: 10px;
    overflow: hidden;
}
li.player > div.name-wrapper > div.discord-name {font-size: 14px;}

li.player > div.score {
    margin-right: 10px;
    width: 50px;
    text-align:center;
}

li.player > div.bracket {
    margin-right: 10px;
    width: 75px;
    text-align: center;
}

li.player > div.stars {
    width: 50px;
    text-align: center;
}

li.player > div.stars-text {
    font-family: Titillium Web;
    font-size: 30px;
    max-height: 30px;
    overflow:hidden;
    margin-top: -8px;
}
div.stars span.full-stars {color: #790805;}
div.stars span.empty-stars {color: #ffffff85;}

/* Player Detail View*/
div#player-detail > div.title {
    overflow: auto;
    background-color: #362923;
    height: 55px;
}
div#player-detail > div {padding: 5px;}
div#player-detail {
    float: right;
    width: 52%;
    min-height: 50px;
    border: outset 4px #362923;
    display: none;
    background-color: rgba(255, 255, 255, 0.2);
}
div#player-detail div.name-wrapper {
    float: left;
}
div#player-detail div.steam-name {
    
    font-family:Staatliches;
    font-size: 30px;
}
div#player-detail div.discord-name {
    font-size: 14px;
    margin-top: -5px;
    color:grey;
}
div#player-detail div.team {
    font-family:Staatliches;
    font-size: 24px;
    float: right;
}
div#player-detail ul {
    padding-left: 0;
}

/* Player Detail Arrow */
div#player-arrow {
	position: relative;
	background: #362923;
	width: 0;
}
div#player-arrow:after, #player-arrow:before {
	right: 100%;
    top: 50%;
    
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

div#player-arrow:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #362923;
	border-width: 13px;
	margin-top: -13px;
}
div#player-arrow:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #362923;
	border-width: 19px;
	margin-top: -19px;
}