article {
    padding: 10px;
    color:black;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    overflow: auto;
}

article a {
    color: rgb(200, 200, 200);
    text-shadow: 0px 0px 2px black;
}

article a:hover {
    color:white;
}

article h2 {
    color: #790805;
}
main div.article {
    margin-top: 30px;
    background-color: #C07A54;
    overflow: auto;
}

/* workshop */
ul.list-workshop li {
    padding: 3px;
    width: 300px;
}

ul.list-workshop > li.headline-workshop, ul.list-workshop > li.headline-workshop:hover {
    background-color: #362923;
    color:white;
    text-align: center;
}

/* schedule list style */

ul.schedule {
    list-style:none;
    padding-left:0;
}

ul.schedule li {
    height: 50px;
    line-height: 50px;
    display:flex;
    font-family: Staatliches;
}

ul.schedule li span {margin: 0px 0 0px 5px;}

ul.schedule li span.name {
    font-family: Staatliches;
    font-size: 40px;
    width: 200px;
    padding-left: 5px;
    line-height: 50px;
    color: #790805;
}

ul.schedule li span.day-date {
    font-size: 30px;
    float:left;
    width: 200px;
}

ul.schedule li span.day-time {
    font-size: 20px;
    float:right;
    padding-right: 5px;
}

ul.schedule li span.matches{
    width: 600px;
}

ul.schedule li a {
    display:block;
    width:100%;
    color: inherit;
    text-shadow: inherit;
}

/* player tab */
div#player-all {
    float: left;
    width: 46%;
}
div#player-all li.teamname {
    background-color: #362923;
}
div#player-all > ul {padding-left: 0;}
div#player-all > ul > li.example {background-color: rgba(255, 255, 255, 0.5);}
li.player {
    font-size: 18px;
    display:flex;
    flex-direction: row;
    padding: 3px;
}

li.player div, li.player span {pointer-events: none;}

li.player > div.name-wrapper {
    width: 230px;
    margin-right: 10px;
    overflow: hidden;
}
li.player > div.name-wrapper > div.discord-name {font-size: 14px;}

li.player > div.score {
    margin-right: 10px;
    width: 50px;
    text-align:center;
}

li.player > div.bracket {
    margin-right: 10px;
    width: 75px;
    text-align: center;
}

li.player > div.stars {
    width: 50px;
    text-align: center;
}

z.player > div.stars-text {
    font-family: Titillium Web;
    font-size: 30px;
    max-height: 30px;
    overflow:hidden;
    margin-top: -8px;
}
div.stars span.full-stars {color: #790805;}
div.stars span.empty-stars {color: #ffffff85;}

/* Player Detail View*/
div#player-detail {font-size: 14px}
div#player-detail div.player-content-wrapper {padding: 5px; overflow:auto;}
div#player-detail ul {padding-left: 0;}
div#player-detail p {float:right; clear:right; margin: 1px;}
div#player-detail hr {clear:both;}
div#player-detail .headline {
    background-color:#362923bb;
    color:white;
    font-size: 18px;
    margin-bottom: 3px;
}

    /* title */
div#player-detail > div.title {
    overflow: auto;
    background-color: #362923;
}
div#player-detail {
    float: right;
    width: 52%;
    border: outset 4px #362923;
}
div#player-detail div.name-wrapper {
    float: left;
}
div#player-detail div.steam-name {
    
    font-family:Staatliches;
    font-size: 30px;
    margin-left: 4px;
}
div#player-detail div.discord-name {
    font-size: 16px;
    margin-top: -5px;
    color:grey;
    margin-bottom: 5px;
}
div#player-detail div.team {
    font-family:Staatliches;
    font-size: 24px;
    float: right;
    margin-right: 4px;
}

    /* availability */
div.availability > p {font-size: 15px; margin:0px;}
div.availability > p.extra-info {font-size: 12px;}
div.availability span.colormark {
    color:white;
    padding: 2px;
    font-size: 13px;
}
div.availability span.green {background-color: green;}
div.availability span.red {background-color: red;}

    /* scores */
div#player-detail li {
    font-size: 16px;
    text-align:right;
    clear: right;
}
div#player-detail li.total {
    background-color: rgba(0,0,0,0.5);
    color:white;
}

    /* Match List */
div#player-detail span.match-info {
    background-color: rgba(0,0,0,0.3);
    color:white;
}
.winner {
    background-color: rgba(255,255,255,0.2);
}

    /* Player Detail Arrow */
div#player-arrow {
	position: relative;
	background: #362923;
    width: 0;
    display:none;
}
div#player-arrow:after, #player-arrow:before {
	right: 100%;
    top: 50%;
    
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

div#player-arrow:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #362923;
	border-width: 13px;
	margin-top: -13px;
}
div#player-arrow:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #362923;
	border-width: 19px;
	margin-top: -19px;
}

/* custom backgrounds */
.team1-background {
    /* background: center no-repeat url("../img/team1.jpg"); */
    background-color: rgba(255,255,255,0.2);
    background-size: cover;
}

.team2-background {
    /* background: center no-repeat url("../img/team2.jpg"); */
    background-color: rgba(255,255,255,0.2);
    background-size: cover;
}

.team3-background {
    /* background: center no-repeat url("../img/team3.jpg"); */
    background-color: rgba(255,255,255,0.2);
    background-size: cover;
}

.team4-background {
    background: no-repeat url("../img/team4.png");
    background-color: rgba(255,255,255,0.9);
    background-size: cover;
}