article {
    padding: 10px;
    color:black;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

article a {
    color: rgb(200, 200, 200);
    text-shadow: 0px 0px 2px black;
}

article a:hover {
    color:white;
}

article h2 {
    color: #790805;
}
main div.article {
    margin-top: 30px;
    background-color: #C07A54;
}

/* Match lineups */
div.lineup {
    display: flex;
    flex-direction: row;
}

div.match div.match-title {
    text-align:center;
}

div.match-title span.match-num {
    font-size: 28px;
    font-family: Staatliches;
    color: #790805;
}

div.match-title span.location {
    font-size: 24px;
    font-family: Staatliches;
}

div.match {
    flex-grow: 1;
    margin: 5px -4px 5px 0;
    padding: 5px;
    max-width: 200px;
    overflow:hidden;
    font-family: 'Titillium Web';
    color: black;

    background-color: rgba(255,255,255,0.1);
    border: 4px rgba(0,0,0,0.5);
    border-style: solid dashed solid dashed;
}
div.match:hover {background-color: rgba(255, 255, 255, 0.15);}


div.match ul {
    padding: 0 0 0 15px;
    margin: 0;
}

div.match ul li {
    font-size: 18px;
    list-style-type: '- ';
}

div.match .winner {color: gold;}

div.match div.location {
    display:block;
}

/* schedule list style */

ul.schedule {
    list-style:none;
    padding-left:0;
}

ul.schedule li {
    height: 50px;
    line-height: 50px;
    display:flex;
    font-family: Staatliches;
}

ul.schedule li span {
    margin: 0px 0 0px 5px;
}

ul.schedule li:nth-child(even) {background-color:rgba(255,255,255,0.05);}
ul.schedule li:nth-child(odd) {background-color:rgba(255,255,255,0.10);}
ul.schedule li:nth-child(even):hover {background-color:rgba(255,255,255,0.15);}
ul.schedule li:nth-child(odd):hover {background-color:rgba(255,255,255,0.2);}
.row1 {background-color:rgba(255,255,255,0.10);}
.row2 {background-color:rgba(255,255,255,0.05);}
.row1:hover {background-color:rgba(255,255,255,0.2);}
.row2:hover {background-color:rgba(255,255,255,0.15);}


ul.schedule li span.name {
    font-family: Staatliches;
    font-size: 40px;
    width: 200px;
    padding-left: 5px;
    line-height: 50px;
    color: #790805;
}

ul.schedule li span.day-date {
    font-size: 30px;
    float:left;
    width: 200px;
}

ul.schedule li span.day-time {
    font-size: 20px;
    float:right;
    padding-right: 5px;
}

ul.schedule li span.matches{
    width: 600px;
}

ul.schedule li a {
    display:block;
    width:100%;
    color: inherit;
    text-shadow: inherit;
}