html, body {
    margin: 0;
    background: url("../img/starfield.png") no-repeat;
    background-color: #0D0D0D;
    background-attachment: fixed;
    color: white;
}

header {
    height: 75px;
    background-color: rgba(255,255,255, 0.1);
    margin-bottom: 30px;
}

header h1 {
    width: 1200px;
    margin: 0 auto 0 auto;
    text-align: center;
    color:white;
}

h1 {font-size: 60px; font-family: 'squarefont'; margin:0;}
h2 {font-size: 40px; font-family: 'squarefont'; margin:0;}
h3 {font-size: 30px; font-family: 'Staatliches', 'Franklin Gothic Medium', sans-serif; margin: 10px 10px 5px 0px;}
h4 {font-size: 20px; font-family: 'Titillium Web', sans-serif; margin:0;}
h5 {font-family: 'Montserrat', sans-serif;}
a  {color:inherit; text-decoration: none; transition-duration:0.3s;}
a:hover {transition-duration: 0.3s;}
li {font-size: 16px; margin-bottom: 5px; list-style-type: none;}
p {margin-top: 0.2em;}
a[role=button] {transition-duration:0.1s;}
.self, .self:hover {background-color: #4C3224;} /* no-hover-effect hack for current page's button */
.inner {
    width: 1000px;
    border: solid 5px #4C3224;
    margin-left: auto;
    margin-right: auto;
    color:black;
}

hr {
    border: none;
    border-top: 3px double #4C3224;
    color: #4C3224;
    overflow: visible;
    text-align: center;
    height: 5px;
    pointer-events: none;
}

/* list styling */
ul {margin-top: 0;}
ul.alternate li:nth-child(even) {background-color:rgba(255,255,255,0.05);}
ul.alternate li:nth-child(odd) {background-color:rgba(255,255,255,0.10);}
ul.alternate li:nth-child(even):hover {background-color:rgba(255,255,255,0.15);}
ul.alternate li:nth-child(odd):hover {background-color:rgba(255,255,255,0.2);}
.none {display:none;}

/* Footer Related */
footer {
    height: 75px;
    margin-top: 30px;
    background-color: rgba(255,255,255, 0.1);
}

footer h4 {
    display:block;
    width: 1200px;
    margin: auto;
    padding-top: 20px;
    text-align:center;
    color: grey;
}

footer h4 a {
    color: rgb(200, 200, 200);
}

footer h4 a:hover {
    color:white;
}

/* alignment */
.left {float:left;}
.right {float:right;}