/* main page - wrapper */
main {
    width: 1200px;
    margin: 0 auto 0 auto;
}

main div.title {
    height: 800px;
    display: flex;
    position: relative;
    background: url("../img/mars.jpg") no-repeat;
    background-size: cover;
}

main div.sub {
    height: 200px;
    background: url("../img/mars.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

/* main page - notice text */

main div.notice {padding: 10px;}
main div.notice span.highlight {color:#790805;}
main div.notice span.upcoming {font-size:50px;}
main div.notice a {text-shadow:0px 0px 4px white;}
main div.notice a:hover {color:rgb(0, 30, 128); text-shadow:0px 0px 4px rgba(255, 255, 255, 0.5);}

/* main page - menu */

nav {
    display: block;
    position: absolute;
    margin-bottom: 100px;
    align-self: flex-end;
}
nav.left-menu {left: -50px;}
nav.right-menu {right: -50px;}
nav.right-menu a {border-color: rgb(46, 33, 77); background-color:#4B367C;}
nav.right-menu a:hover {background-color: rgb(59, 42, 97);}
nav a {
    background-color: #2B160B; /* Visualizing for test*/
    display: block;
    width: 190px;
    height: 50px;
    margin: 40px 0 0 0;
    border: solid 5px #4C3224;
    padding: auto;

    font-family:squarefont; /* Visualizing for test*/
    text-align: center;
    font-size: 40px;
    color:white;
}

nav a:hover{
    background-color: #100600;
}

main div.article {
    margin-top: 50px;
    background-color: #C07A54;
}
