div#dayselectors{
    margin: auto;
    border: solid #4B367C 5px;
    width: fit-content;
}
button.dayselect{
    background: red;
}
button.dayselect:hover{
    color: white;
}
button.selected{
    background: forestgreen;
}
body{
    margin-left: 150px;
    margin-right: 150px;
}
div.big{
    min-width: 100%;
}
div.matches{
    width: 50%;
    float: left;
    height: 100%;
    background: darkgrey;
}
div.stats{
    width: 50%;
    float:right;
    height: 100%;
    background: darkkhaki;
}
.droptarget{
    min-width: 20px;
    min-height: 20px;
    border: solid cornsilk 5px;
}
.draggable{
    min-width: 20px;
    min-height: 20px;
    cursor: pointer;
}