@import url("http://allfont.net/allfont.css?fonts=agency-fb");
@import url('https://fonts.googleapis.com/css?family=Montserrat|Titillium+Web');
@font-face {
    /* This is a temporary font.
       All Squarefont items will be replaced by images.*/
    font-family: squarefont;
    src: url("../fonts/Square.ttf");
    font-style:normal;
}

html, body {
    margin: 0;
    background: url("../bg/starfield.png") no-repeat;
    background-color: #0D0D0D;
}

header {
    height: 75px;
    background-color: rgba(255,255,255, 0.1);
    margin-bottom: 30px;
}

header h1 {
    width: 1200px;
    margin: 0 auto 0 auto;
    text-align: center;
    color:white;
}

h1 {font-size: 60px; font-family: 'squarefont';}
h2 {font-size: 40px; font-family: 'squarefont'; margin:0;}
h3 {font-size: 40px; font-family: 'Agency FB', 'Franklin Gothic Medium', sans-serif; margin: 10px;}
h4 {font-family: 'Titillium Web', sans-serif;}
h5 {font-family: 'Montserrat', sans-serif;}
a  {color:inherit; text-decoration: none;}
/* main page related */

main {
    width: 1200px;
    margin: 0 auto 0 auto;
}

main div.main-inner {
    border: solid 5px #4C3224;
    width: 1000px;
    height: 800px;
    margin: 0 auto 0 auto;
    display: flex;
    position: relative;
    background: url("../bg/mars.jpg") no-repeat;
    background-size: cover;
}

main div.notice {
    padding: 10px;
}

main div.notice span.highlight {
    color:#790805;
}

main div.notice span.upcoming {
    font-size:50px;
}

nav {
    display: block;
    position: absolute;
    margin-bottom: 100px;
    align-self: flex-end;
}
nav.left-menu {left: -50px;}
nav.right-menu {right: -50px;}

nav a {
    background-color: gold; /* Visualizing for test*/
    display: block;
    width: 190px;
    height: 50px;
    margin: 40px 0 0 0;
    border: solid 5px #4C3224;
    padding: auto;

    /* Visualizing for test*/
    font-family:squarefont;
    text-align: center;
    font-size: 40px;
}

main div.article-inner {
    width: 1000px;
    border: solid 5px #4C3224;
    margin: 50px auto 0 auto;
    background-color: #C07A54;
}

/* Generic article */

article {
    padding: 10px;
    color:black;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

article a {
    color: rgb(200, 200, 200);
    text-shadow: 1px 1px 2px black;
}

article a:hover {
    color:white;
    transition-duration: 0.5s;
}

/* Footer Related */
footer {
    height: 75px;
    margin-top: 30px;
    background-color: rgba(255,255,255, 0.1);
}

footer h4 {
    display:block;
    width: 1200px;
    margin: auto;
    padding-top: 20px;
    text-align:center;
    color: grey;
}

footer h4 a {
    color: rgb(200, 200, 200);
}

footer h4 a:hover {
    color:white;
    transition-duration: 0.5s;
}
