{% extends "base.html" %}

{% block title %} Matchmaking {% endblock %}



{% block main %}

<div id="genmatches"> GENERATE MATCHES </div>


<script type="text/javascript">
$(document).ready(function() {
  $("#genmatches").click(function(event)
  {
    $.post("{% url 'genffa' %}"), function(data)
    {
      alert(data)
    };
  });
    $(".match").click(function(event) {
        $.post("{% url 'inspectmatch' %}"+event.target.id, function(data) {
        	if(data == "OK") {
        		window.location.href = "{% url 'inspectmatch' %}";
        	}
          else
          {
            alert(data);
          }
        });
    });
});
</script>

{% for match in object_list %}
    {% cycle 'row1' 'row2' as rowcolors silent %}
    <div class="{{ rowcolors }} match" id="{{ match.id }}">{{ match.player1.name }} {{ match.player2.name }} {{ match.player3.name }} {{ match.player4.name }} </div>
{% endfor %}

{% endblock main %}
