{% extends "base.html" %}

{% block title %} Matchmaking {% endblock %}



{% block main %}

<div id="genmatches"> GENERATE MATCHES </div>


<script type="text/javascript">
$(document).ready(function() {
  $("#genmatches").click(function(event)
  {
      $.post
    $.post("{% url 'genffa' 1 %}", function(data, textStatus, jqXHR)
    {
    if(data=="OK")
    {
        let url = "{% url 'matchmaking-root' %}";
        window.location.replace(url);
    }
    else
    {
        alert(data)
    }
  })});
  /*
    $(".match").click(function(event) {
        let url = "{% url 'inspectmatch' %}"+event.target.id;
        console.log(url);

       		window.location.href = url;
    });
    */
    $(".btn-delete").click(function(event)
      {
        let url = "{% url 'removematch' %}"+event.target.id;
        console.log(url);
        $.post(url, function(data, textStatus, jqXHR)
          {
            if(data==="OK")
            {
                let url = "{% url 'matchmaking-root' %}";
                window.location.replace(url);
            }
            else
            {
                alert(data);
            }
          });
      });
});
</script>

    <ul class="alternate" id="matches">
        {% for match in object_list %}
        <li class="match" id="{{ match.id }}"> {{ match.player1.name }} {{ match.player2.name }} {{ match.player3.name }} {{ match.player4.name }} </li> <button type="button" class="btn-delete" id="{{ match.pk }}">Delete</button>
        {% endfor %}
    </ul>

{% endblock main %}
