{% extends "base.html" %}

{% block title %} Matchmaking {% endblock %}

{% block main %}

    <button type="button" id="genmatches">Generate Matches</button>
    <button type="button" id="toggle">Toggle scored</button>
    <h1 class="scored" style="display: none"> SHOWING SCORED MATCHES</h1>
    <h1 class="notscored"> SHOWING NOT SCORED MATCHES</h1>
    <script type="text/javascript">
        let scored = false;
        $(document).ready(function () {
            $(".scored").css("display", "none");

            $("#toggle").click(function (event) {
                scored = !scored;
                if (!scored) {
                    $(".scored").css("display", "none");
                    $(".notscored").css("display", "block");
                } else {
                    $(".scored").css("display", "block");
                    $(".notscored").css("display", "none");
                }

            });

            $("#genmatches").click(function (event) {
                $.post("{% url 'genffa' 1 %}", function (data, textStatus, jqXHR) {
                    if (data == "OK") {
                        let url = "{% url 'matchmaking-root' %}";
                        window.location.replace(url);
                    } else {
                        alert(data);
                    }
                });
            });

            $(".matchdetail").click(function (event) {
                let url = "{% url 'inspectmatch' %}" + event.target.id;
                console.log(url);
                window.location.href = url;
            });

            $(".btn-delete").click(function (event) {
                let url = "{% url 'removematch' %}" + event.target.id;
                console.log(url);
                $.post(url, function (data, textStatus, jqXHR) {
                    if (data === "OK") {
                        let url = "{% url 'matchmaking-root' %}";
                        window.location.replace(url);
                    } else {
                        alert(data);
                    }
                });
            });
            $(".btn-score").click(function (event) {
                let target_id = event.target.id;

                let selector = "#"+target_id+".num-awards";
                let num_awards = $(selector).val();
                let url = "{% url 'scorematch' %}" + target_id + "/"+num_awards;
                console.log(url);
                window.location.href = url;
            });
        });
    </script>

    <ul class="alternate" id="matches">
        {% for match in object_list %}

                <li class="match {% if match.result %}scored{% else %}notscored{% endif %}">
                    <div class="matchdetail" id="{{ match.id }}">
                    <b>{{ match.get_location_display }}</b> {{ match.get_mode_display }}:
                    {% for player in match.players.all %}{{ player.name }} {% endfor %}
                    </div>


                <button type="button" class="btn-delete" id="{{ match.pk }}">Delete</button>
                <button type="button" class="btn-score" id="{{ match.pk }}">Score</button>
                <input type="text" size="1" class="num-awards" id="{{ match.pk }}"> awards
                <br>
                {{ match.notes }}
            </li>



        {% endfor %}
    </ul>

{% endblock main %}
