{% extends "base.html" %}
{% load static %}
{% block CSS %}
    <link href="{% static 'css/matchmaking.css' %}" rel="stylesheet">
{% endblock CSS %}
{% block title %} Match Staging {% endblock %}

{% block main %}
    <script type="text/javascript">
        let chooseDay = function(day){
            $(".dayselect").each(function(index)
            {
                $(this).removeClass("selected");
            });
            $("#"+day).addClass("selected");
        };

        $(document).ready(function () {
            $(".dayselect").click(function (event) {
                chooseDay(event.target.id);
            });
            setupDragAndDrop();
            console.log("setup done");
        });

        let setupDragAndDrop = function()
        {
            let currentDroppable = null;
            let dropped = new Event('dropped');
            console.log($("#trashcan").get()[0]);
            $("#trashcan").get()[0].addEventListener('dropped', function(e)
            {
                console.log("trashed");
                console.log(e);
            }, false);

            $(".draggable").mousedown(function(event) {
                let currentObj = document.getElementById(event.target.id);
                //if has class source, make a non-source copy instead
                let shiftX = event.clientX - currentObj.getBoundingClientRect().left;
                let shiftY = event.clientY - currentObj.getBoundingClientRect().top;

                currentObj.style.position = 'absolute';
                currentObj.style.zIndex = 1000;
                document.body.append(currentObj);

                moveAt(event.pageX, event.pageY);

                function moveAt(pageX, pageY) {
                    currentObj.style.left = pageX - shiftX + 'px';
                    currentObj.style.top = pageY - shiftY + 'px';
                }

                function onMouseMove(event) {
                    moveAt(event.pageX, event.pageY);

                    currentObj.hidden = true;
                    let elemBelow = document.elementFromPoint(event.clientX, event.clientY);
                    currentObj.hidden = false;

                    if (!elemBelow) return;

                    let droppableBelow = elemBelow.closest('.droptarget');
                    if (currentDroppable != droppableBelow) {
                        if (currentDroppable) { // null when we were not over a droppable before $(this )event
                            leaveDroppable(currentDroppable);
                        }
                        currentDroppable = droppableBelow;
                        if (currentDroppable) { // null if we're not coming over a droppable now
                            // (maybe just left the droppable)
                            enterDroppable(currentDroppable);
                        }
                    }
                }

                document.addEventListener('mousemove', onMouseMove);

                currentObj.onmouseup = function() {
                    document.removeEventListener('mousemove', onMouseMove);
                    leaveDroppable(currentDroppable);
                    currentDroppable.dispatchEvent(dropped);
                    currentObj.onmouseup = null;
                };

                currentObj.ondragstart = function() {
                    return false;
                };

            });

            function enterDroppable(elem) {
                elem.style.background = '#d8d8d8';
            }

            function leaveDroppable(elem) {
                if(elem) elem.style.background = '';
            }


        }
    </script>

    <div id="dayselectors">{% for day in days %}
        <button class="dayselect" id="{{ day }}">Day {{ day }}</button>
    {% endfor %}
    </div>
    <div class="big">
        <div class="matches">
            {% for match in matches %}
                <div class="droptarget" id="match{{ match }}"></div>
            {% endfor %}
        </div>
        <div class="stats">
            <button class="draggable" id="drag21">Drag me</button>
            <img src="{% static 'img/trashbin.png' %}" class="droptarget" id="trashcan" width="50" height="50">

        </div>

    </div>
    <button id="makematches">Add these matches to database</button>



{% endblock %}