{% extends "base.html" %}
{% load static %}
{% block CSS %}
    <link href="{% static 'css/matchmaking.css' %}" rel="stylesheet">
{% endblock CSS %}
{% block title %} Match Staging {% endblock %}

{% block main %}
    <script type="text/javascript">
        let trattsGlobals = {
            "idCount": function()
            {
                var idCount = 0;
                return function()
                {
                    idCount++;
                    return idCount;
                }
            }(),
            day : -1
        };
        
        function chooseDay (day){
            $(".dayselect").each(function(index)
            {
                $(this).removeClass("selected");
            });
            $("#"+day).addClass("selected");
            sendMatchesToDb(day);
            trattsGlobals['day'] = day;
            getDataFromDb(day);
        }

        function sendMatchesToDb(day)
        {
            let postUrl = '{% url 'matchmaking-root' %}'+day;
            let matchesDOM = $(".stagingmatch");
            let matches = [];
            for (let i=0; i<matchesDOM.length; i++)
            {
                let currentDom = matchesDOM[i];
                let players = [];
                let currentDomChildren = currentDom.children;
                for (let j=0; j<currentDomChildren.length; j++)
                {
                    players.push({"id": currentDomChildren[j].id});
                }
                matches.push({"players": players});
            }

            let payload = {"matches": matches};
            let jsonpayload = JSON.stringify(payload);

            $.post(postUrl, jsonpayload, function(r)
            {
               console.log("Post response recieved: "+r);
            });
        }

        function makePlayerHTML(p, source = false)
        {
            let sourcetext = "";
            if(source) sourcetext = "dragsource";
            return '<button class="draggable '+sourcetext+'" id="player-'+p.id+'-">'+p.name+'</button>';
        }

        function addMatchesToDOM(matches)
        {
            let matchDOM = $("#matches").html('');
            let totalMatches = {{ num_matches }};
            for(let i=0; i<matches.length;i++)
               {
                   let m = matches[i];
                   let divcontent = "";
                   console.log(m);
                   for (let j=0; j<m.players.length; j++)
                   {
                       let p = m.players[j];
                       divcontent+=makePlayerHTML(p);
                   }

                   matchDOM.append('<div class="droptarget stagingmatch" id="matcharea'+trattsGlobals["idCount"]()+'">'+m+'</day>')
               }
            while(matchDOM.get(0).childElementCount<totalMatches)
            {
                matchDOM.append('<div class="droptarget stagingmatch" id="matcharea'+trattsGlobals["idCount"]()+'"></div>');
            }
        }

        function addPlayersToDom(players)
        {
            let playersDOM = $("#stats").html('');
            for(let i=0; i<players.length;i++)
               {
                   let p = players[i];
                   p.bracket

                   playersDOM.append(makePlayerHTML(p, true));
               }
        }

        function getDataFromDb(day)
        {
            let getUrl = '{% url 'matchmaking-root' %}'+day;
            $.get(getUrl, function(r)
            {
                addPlayersToDom(r['players']);
                addMatchesToDOM(r['matches']);
                setupDragAndDrop();
                setupHandlers();
            });
        }

        function setupHandlers()
        {
            $("#trashcan").unbind();
            $("#trashcan").on('dropped', function(e, droppable)
            {
                droppable.remove();
            });
            $(".stagingmatch").unbind();
            $(".stagingmatch").on('dropped', function(e, droppable)
            {
                $(this).append(droppable);
                droppable.style.position = 'relative';
                droppable.style.left = 0;
                droppable.style.top = 0;
            });
            $("#makematches").unbind();
            $("#makematches").click(function(event){
                sendMatchesToDb(trattsGlobals['day']);
            });
            $(".dayselect").unbind();
            $(".dayselect").click(function (event) {
                chooseDay(event.target.id);
            });
        }

        function setupDragAndDrop ()
        {
            let currentDropTarget = null;
            
            $(".draggable").mousedown(function(event) {
                if(event.which!==1) return;
                let currentObj = $("#"+(event.target.id));
                if(currentObj.hasClass('dragsource'))
                {
                    currentObj = currentObj.clone(true, true);
                    currentObj.removeClass('dragsource');
                    currentObj.attr('id', event.target.id+trattsGlobals['idCount']());
                }
                $('body').append(currentObj);
                let shiftX = currentObj.width()/2;
                let shiftY = currentObj.height()/2;

                currentObj.css({position : 'absolute'});

                moveAt(event.pageX, event.pageY);

                function moveAt(pageX, pageY) {
                    currentObj.css({
                        "left" : pageX - shiftX + 'px',
                        "top" : pageY - shiftY + 'px'
                    })
                       
                }
                    
                function onMouseMove(event) {
                    moveAt(event.pageX, event.pageY);

                    currentObj.get(0).hidden = true;
                    let elemBelow = document.elementFromPoint(event.clientX, event.clientY);
                    currentObj.get(0).hidden = false;

                    if (!elemBelow) return;

                    let dropTargetBelow = elemBelow.closest('.droptarget');
                    if (currentDropTarget !== dropTargetBelow) {
                        if (currentDropTarget) { // null when we were not over a droppable before this event
                            leaveDroppable(currentDropTarget);
                        }
                        currentDropTarget = dropTargetBelow;
                        if (currentDropTarget) { // null if we're not coming over a droppable now
                            // (maybe just left the droppable)
                            enterDroppable(currentDropTarget);
                        }
                    }
                }

                document.addEventListener('mousemove', onMouseMove);

                currentObj.mouseup(function() {
                    document.removeEventListener('mousemove', onMouseMove);
                    currentObj.onmouseup = null;
                    if(currentDropTarget)
                    {
                        leaveDroppable(currentDropTarget);
                        $("#"+currentDropTarget.id).triggerHandler('dropped', currentObj);
                    }
                    
                    
                });

            });

            function enterDroppable(elem) {
                elem.style.background = '#d8d8d8';
            }

            function leaveDroppable(elem) {
                elem.style.background = '';
            }
        }

        $(document).ready(function () {
            


            setupDragAndDrop();
            setupHandlers();
            console.log("setup done");
        });
    </script>

    <div id="dayselectors">{% for day in days %}
        <button class="dayselect" id="{{ day }}">Day {{ day }}</button>
    {% endfor %}
    </div>
    <img src="{% static 'img/trashbin.png' %}" class="droptarget" id="trashcan" width="50" height="50">
    <div class="big">
        <div id="matches">
        </div>
        <div id="stats">
            <button class="draggable dragsource" id="drag21">Drag me</button>
            

        </div>

    </div>
    <button id="makematches">Add these matches to database</button>



{% endblock %}