<!DOCTYPE html>
{% load static %}
<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>

<html>
    <head>
	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
        <link href="{% static 'css/common.css' %}" rel="stylesheet">
        <link href="{% static 'css/heading.css' %}" rel="stylesheet">
        <link href="{% static 'css/article.css' %}" rel="stylesheet">
        <link href="{% static 'css/fontdef.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Titillium+Web|Staatliches" rel="stylesheet"> 
        <title>{% block title %}The Martian Enterprise Tournament{% endblock title %}</title>
    </head>
    <body>
        <header>
            <a href="{% url 'martian-enterprise' %}"><h1>The Martian Enterprise Tournament</h1></a>
        </header>
        <main>
            {% block main %}
            {% endblock main %}
        </main>
        <footer>
            <h4>Website designed by <a href="https://github.com/Rhahi">Rhahi</a> and <a href="https://github.com/Trattpingvin/">Trattpingvin</a></h4>
        </footer>
    </body>
</html>
