{% extends "base.html" %}
{% block main %}
<script type="text/javascript">
    $(document).ready(function(){
        $(".player").click(function(event) {
            let url = "{% url 'inspectplayer' %}/"+event.target.id;
            $.get(url, function(data){
                alert(data);
                //update .player_detail with data
                $("#player_detail").innerText = data;
            });
        });
    });
</script>
    <div class="inner title small robot">
        <div class="notice">
            <h1><span class="highlight">Players</span></h1>
        </div>
        <nav class="linear-menu">
            <a href="{% url 'rules' %}" role="button">Rules</a>
            <a href="{% url 'schedule' %}" role="button">Schedule</a>
            <a href="{% url 'players' %}" role="button" class="self">Players</a>
        </nav>
    </div>
    <div class="inner article">
        <article>
            <h3>501: Not Implemented!</h3>
            This page is under construction, please visit us later.
            <hr>
            <div id="player-all">
                <ul class="alternate">
                    <li class="player example" style="background-color: rgba(255, 255, 255, 0.5);">
                        <div class="name-wrapper">
                            <div class="steam-name">Name</div>
                            <div class="discord-name">(discord name)</div>
                        </div>
                        <div class="score">Score</div>
                        <div class="bracket">Bracket</div>
                        <div class="stars">Stars</div>
                    </li>
                    <!-- TODO: sort using team -->
                    <!-- FIXME: sub elements blocking ID click effect -->
                    {% for player in object_list %}
                    <li class="player" id="{{ player.pk }}">
                        <div class="name-wrapper">
                            <div class="steam-name">{{ player.name }}</div>
                            <!-- this section should be enabled after nickname becomes available
                            {% if player.name2 %}
                            <div class="discord-name">({{ player.name2}})</div>
                            {% endif %}
                            -->
                        </div>
                        <!-- TODO: how to get score? -->
                        <div class="score"></div>
                        <div class="bracket">{{ player.bracket}}</div>
                        <div class="stars stars-text">
                            <!-- hack -->
                            {% with ''|center:3 as range %}
                            <span class="full-stars">
                                {% for _ in range %}{% if forloop.counter0 == player.stars %}</span><span class="empty-stars">{% endif %}*{% endfor %}
                            {% endwith %}
                            </span>
                            <!-- endhack; had to remove newlines due to space between stars-->
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="player-detail">
                
            </div>
        </article>
    </div>
{% endblock %}