<div class="title">
    <div class="name-wrapper">
        <div class="steam-name team{{player.team.id}}">{{ player.name }}</div>
        {% if player.discordname %}
        <div class="discord-name">({{ player.discordname}})</div>
        {% endif %}
    </div>
    <div class="team team{{player.team.id}}">{{player.team.name}}</div>
</div>
<div>
    <div>Match History {{player.get_num_matches}}</div>
    <!-- match detail list view, clickable -->
</div>

<div>
    <div>Score: {{ score }}</div>
    <ul>
        <li>Victorious: {{player.get_wins.0}}</li>
        <li>Awards</li>
        {% for a in award %}
        {% if a.1 > 0 %}
        <li>{{a.0}} ({{a.1}}): {{a.2}}</li>
        {% endif %}
        {% endfor %}
    </ul>
</div>