{% extends "base.html" %}
{% block main %}
    <div class="inner title small mars2">
        <div class="notice">
            <h1><span class="highlight">Schedule</span></h1>
        </div>
        <nav class="linear-menu">
            <a href="{% url 'rules' %}" role="button">Rules</a>
            <a href="{% url 'schedule' %}" role="button" class="self">Schedule</a>
            <a href="{% url 'players' %}" role="button">Players</a>
        </nav>
    </div>
    <div class="inner article">
        <article>
            <h3>501: Not Implemented!</h3>
            This page is under construction, please visit us later.

            <ul class="schedule">
                <li class="row1">
                    <span class="name">
                        <a href="{% url 'drafting' %}">Drafting</a>
                    </span>
                    <span class="day">
                        <span class="day-date">Jan 19</span>
                        <span class="day-time">GMT 20 / CET 21 / EST 15</span>
                    </span>
                    <span class="matches">
                        
                    </span>
                    
                    
                </li>
                <li class="row2">Workshop</li>
                <li class="row1">Day 1</li>
                <li class="row2">Day 2</li>
                <li class="row1">Workshop</li>
                <li class="row2">Day 3</li>
                <li class="row1">Day 4</li>
            </ol>
        </article>
    </div>
{% endblock %}